@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@700&family=Lato:wght@400;900&display=swap');

html, body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

header {
	font-family: 'Caveat Brush', cursive;
	background-color: #1794A0;
	padding: 40px;
	text-align: center;
}

h1 {
	font-size: 90px;
	text-shadow: 2px 2px rgba(0,0,0,.4);
}

header img {
	width: 300px;
	height: 300px;
	border-radius: 179px;
	border: 25px solid #D96738;
	border-style: groove;
	box-shadow: 0 10px 20px black;
}

.wrapper {
	background-color: #EFE6B6;
}


.content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.content h2 {
	font-size: 40px;
}

.content .story {
	font-size: 20px;
	text-align: justify;
	padding: 20px;
	line-height: 1.5;
	background-color: #FBF7E1;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	box-shadow: 0 5px 10px black;
}

.content ul {
	font-size: 20px;
	list-style: none;
	padding: 20px;
	line-height: 1.5;
	background-color: #FBF7E1;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	box-shadow: 0 5px 10px black;
}

.big-image {
	max-width: 100%;
	display: block;
    margin: auto;
}

.caption {
	font-size: 20px;
	color: #1794A0;
	font-style: italic;
	margin-bottom: 30px;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.quotes li {
	background-color: #EFE6B6;
	padding: 20px 10px 20px 20px;
	margin: 20px;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	box-shadow: 0 5px 10px black;
}

.quotes img {
	width: 80px;
	height: 80px;
	display: inline;
	float: left;
	margin-right: 10px;
}

a {
	color: #D96738;
	text-decoration: none;
}

footer {
	margin-top: 50px;
	padding: 40px 20px;
	background-color: #1794A0;
}

footer ul {
	text-align: center;
	font-weight: bold;
}

footer ul li{
	display: inline-block;

}